/* Your code here */
main.cardone{
  background-color: black;
}
h1.cardone{
  color:blue;
}
h1.twenty{
  color:green;
  margin-top: -214px;
  margin-left: 66px;
}
h1.seven{
  color:red;
  margin-top: -59px;
  margin-left: 80px;
}
h1.x{
  color:blue;
  margin-top: -59px;
  margin-left: 95px;
}
em.emone{
  color: white;
  margin-top: -50;
}
img.logoone{
  margin-top: -100px;
  margin-left: 270px;
}
p.pone{
  color: white;
  margin-top: 0px;
}
main.cardtwo{
  background-color: green;
  background-image: url("Luigi.png");
  background-size: 342px;

}
div.flex-container{
  height: 2in;
  display: flex;
  justify-content: space-around;
}
div.flex-container > *:nth-child(1){
  align-self: flex-start;
}
div.flex-container > *:nth-child(2){
  align-self: flex-end;
}
div.flex-container > *:nth-child(3){
  align-self: flex-start;
}
h1.ihatethis{
  color: blue;
  margin-top: -30px;
  margin-left: 3.25in;
}